.grid-container{
    background-color: #fafafa;
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.settings-header{
    position:absolute;
}

.menu-item{
    max-width: 200px;
    margin: 16px 24px;
}